@import "tailwindcss";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui;
  --font-serif: "Source Serif 4", ui-serif, Georgia;
}

@variant dark (&:where(.dark, .dark *));

@layer base {
  html {
    @apply font-sans antialiased;
  }
}

.sidebar-brand .brand-text {
  font-size: 1.4rem;
  font-weight: 700;
  white-space: nowrap;
}

.sidebar.sidebar-narrow-unfoldable:not(:hover) .sidebar-brand .brand-text {
  display: none;
}



